{{ define "main" }}

<header class="page-header">
    <h1>Caiyi Zhang <span class="small-text"> / 张彩仪 </span></h1>
</header>

<section class="resume">
    <div class="container">

        {{- partial "home_info.html" . }}
        
        <div class="resume-content">
            <!-- 个人信息 -->

            <!-- 工作经历 -->
            <section>
                <h2>Work Experience</h2>
                {{ range .Params.experience }}
                <div class="job">
                    <div class="left-side">
                        <h3>{{ .company }}</h3>
                        <p>{{ .duration }}</p>
                    </div>
                    <div class="right-side">
                        <h3>{{ .position }}</h3>
                        <p>{{ .description }}</p>
                        <p class="keywords"><u>Keywords:</u>{{ .key }}</p>
                    </div>
                </div>
                {{ end }}
            </section>

            <!-- 教育背景 -->

            <section>
                <h2>Education Experience</h2>
                {{ range .Params.education }}
                <div class="job">
                    <div class="left-side">
                        <h3>{{ .institution }}</h3>
                        <p>{{ .years }}</p>
                    </div>
                    <div class="right-side">
                        <h3>{{ .degree }}</h3>
                        <p>{{ .introduce }}</p>
                    </div>
                </div>
                {{ end }}
            </section>

            <!-- 技能 -->
            <section>
                <h2>Skills</h2>
                {{ range .Params.skills }}
                <div class="skill">
                    <div class="left-side">
                        <h3>{{ .type }}</h3>
                    </div>
                    <div class="right-side">
                        <p>{{ .skill }}</p>
                    </div>
                </div>
                {{ end }}
            </section>
        </div>
    </div>
</section>
{{ end }}
